@import "./components/header";
@import "./components/main-page";
@import "./components/login";
@import "./components/add-news";
@import "./components/news-page";

* {
  outline: none;
}

.required:after {
  content: ' *';
  color: red;
}

.error-hint {
  font-size: 12px;
  color: red;
  position: absolute;
}

input {
  border: 1px solid black;
}

input.error-input, textarea.error-input, select.error-input {
  border: 1px solid red;
  -webkit-animation: swing 0.6s ease;
  animation: swing 0.6s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}